/*  Simple File List CSS - eeStyling.css - v10.13.15 - mitchellbennis@gmail.com */

#eeSFL h1, #eeSFL p {
	text-align: left;
}

#eeSFL form {
	border: 1px solid #666;
	-moz-border-radius: 1em;
	border-radius: .25em;
	padding: 1.5em;
	margin: 1em auto;
}

#eeMessaging {

}

#eeSFL {
	padding: 1em;
}

#eeSFL table.eeFiles {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #999;
	text-align: center;
}
#eeSFL .eeFiles tr:hover {
	background: #FFF;
}
#eeSFL .eeFiles th {
	text-align: center;
	background: #555;
	color: #EEE; 
}
#eeSFL .eeFiles td {
	padding: .25em 0;
	border-bottom: 1px solid #999;
	text-overflow: clip;
	overflow: hidden;
}
#eeSFL .eeFiles td a {
	display: block;
	width: 100%;
	height: auto;
	text-decoration: none;
}
#eeSFL input[type=file] {
	float: left;
	margin-right: 2em;
	font-size: 120%;
}
#eeSFL .eeUploadButton {
	float: left;
}





/* Administration Styles */
.eeAdminEntry h2 {
	clear: both;
}

.eeAdminEntry .alignright {
	float: right;
	margin: 0 1em 1em 0;
	max-width: 50%;
}

.eeAdminEntry fieldset {
	display: block;
	clear: both;
	border: 2px solid #DDD;
	padding: 1em;
	margin: 1em;
}

.eeAdminEntry label, .eeAdminEntry span {
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
	margin-right: .5em;
	padding: 5px;
	margin-bottom: 1em;
	background: #DDD;
}
.eeAdminEntry .eeRadioLabel {
	clear: none;
	width: auto;
	background: transparent;
}

.eeAdminEntry select, 
.eeAdminEntry input[type=text], 
.eeAdminEntry input[type=url], 
.eeAdminEntry input[type=password], 
.eeAdminEntry input[type=tel], 
.eeAdminEntry input[type=email],
.eeAdminEntry textarea, 
.eeAdminEntry span.eeValueDisplay {
	float: left;
	width: 400px;
	padding: 3px;
}
.eeAdminEntry textarea {
	height: 6em;
}
.eeAdminEntry input[type=radio] {
	float: left;
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	margin-top: .325em;
	margin-right: 2em;
}

.eeNote {
	clear: both;
	margin-left: 3em;
	margin-bottom: 2em;
}


.eeClearFix {
	clear: both;
}

.eeBacklink {
	display: block;
	text-align: center;
	font-size: 70%;
}






